.container {
        background-color: rgb(171, 170, 126);
}

.img {
        width: 30rem;
        height: 30rem;
        background-color: white;
}

.poke_number {
        font-size: 70px;
}

.poke_name{
        font-size: 90px;
}

.poke_height{
        font-size: 50px;
}

.poke_weight{
        font-size: 50px;
}