<body >
    <div class="container text-center rounded-pill">  
        <div class="rounded-5 rounded-top-0 ">  
            <p class="poke_number">N° {{pokemon.id}}</p>
            <img class="img rounded-5" src="{{pokemon.sprites.back_default}}" alt="">
            <h1 class="poke_name"> {{pokemon.name }}</h1>
            <p class="poke_weight">Peso {{pokemon.weight}}</p>
            <p class="poke_height">Altura {{pokemon.height}}</p>
            
        
        </div>
    </div>
</body>
   